[Desktop Entry]
Type=Application
Name=Central de Desenvolvimento
Comment=Ferramentas de programação e criação de projetos do Ozorio OS
Exec=ozorio-dev-center
Icon=/usr/share/icons/ozorio/ozorio-dev.svg
Terminal=false
Categories=Development;Utility;
StartupNotify=true
