UI vesamenu.c32
PROMPT 0
TIMEOUT 50
DEFAULT ozorio

MENU TITLE Ozorio OS 0.1

LABEL ozorio
  MENU LABEL Iniciar Ozorio OS Live
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.img boot=live components username=ozorio hostname=ozorio locales=pt_BR.UTF-8 keyboard-layouts=br quiet splash

LABEL ozorio-safe
  MENU LABEL Ozorio OS - modo seguro de video
  KERNEL /live/vmlinuz
  APPEND initrd=/live/initrd.img boot=live components username=ozorio hostname=ozorio locales=pt_BR.UTF-8 keyboard-layouts=br nomodeset

LABEL memtest
  MENU LABEL Reiniciar computador
  COM32 reboot.c32
